body{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 25px;
    background-color: gold;
}

h1 {
    font-family: Consolas;
    font-size: 2em;
    line-height: 50px;
    color: turquoise;
}

p{
    color: cornflowerblue;
}

header{
    background-color: rgb(255,0,50);
    color: #00FF2C;
}
footer{
    background-color: bisque;
}

.active {
    color: #69EFFF;
}

a {
    color: yellow;
}

.active a {
    color: white;
}

#firstsection {
    background-color: aqua;
}

.masthead {
    border: 3px solid black;
}

.header, .firstsection {
    background-color: rgba(255,0,50,1);
}